@use "@/colors"
@use "@/mixins"

component
  flex: 1
  padding: 1.5em 0 1.5em 1.5em
  display: grid
  grid-template-columns: auto 1fr
  column-gap: 4em
  overflow: hidden
  @include colors.panel-background